<div class="page-wrap">

  <section>
    <h2>Ionic Movie App</h2>
  </section>

  <div class="card">
    <input type="text" placeholder="Search Movies" ng-model="home.movie">
  </div>
  <div class="card">
    <input type="text" placeholder="Search TV Shows" ng-model="home.tvShow">
  </div>
  <div class="card">
    <input type="text" placeholder="Search Person" ng-model="home.person">
  </div>

  <button class="button button-positive search-btn" ng-click="home.submitSearch()">
    Search
  </button>

</div>

